.button_primary {
    background: #2390ED;
    text-transform: uppercase;
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 250px;
    padding-top: 2px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    border-radius: 50px;
    letter-spacing: 0.5px;
    cursor: pointer;
    line-height: 1;
    transition: all 0.5s;
    font-weight: 700;
    border: 2px solid transparent;
    &:hover {
        background: $color5;
        color: #fff;
        border: $color5;
    }
    @include break-max(1366px) {
        font-size: 14px;
        height: 40px;
    }
    @include break-max(768px) {
        width: 280px;
    }
}
.button_secondary {
    background: white;
    color: $color1;
    text-transform: uppercase;
    text-align: center;
    border: 0;
    width: 300px;
    display: block;
    padding: 20px;
    font-size: 16px;
    border-radius: 50px;
    letter-spacing: 0.5px;
    cursor: pointer;
    transition: all 0.2s;
    font-weight: 500;
    @include break-max(768px) {
        width: 280px;
    }
}