extends templates/tpl.pug
block var
	- var title = "Home";
	- var bodyClass = "calendar";
block content
	.content
		header(id="header")
			.logo
			nav
				a(href="#" class="menu_handle")
					div.separator
				ul
					li
						a(href="#" class="item month") Classificar por mês
					li
						a(href="#" class="item day") Classificar por Dia
					li
						a(href="/calendario.html" class="item calendario active") Calendário
					li
						a(href="/downloads.html" class="item dwn") Histórico de Downloads
					li
						a(href="/configuracoes.html" class="item conf") Configurações
					li
						a(href="/" class="item logout") Logout
		.wrapper_calendar
			.item_calendar
				.wrap
					.calendar_handle
						.media
							img(src="images/saude_dia_c.png", alt="")
						h2
						.nav
							a(href="" class="day") Dia
							a(href="" class="month active") Mês
					#caleandar
					.labels_info
						.date_important
							p Data Importante
						.holiday
							p Feriado Nacional
			.days_marked.type2
				h3 Navegue pelo calendário e faça o download dos arquivos disponíveis.
				ul.list_calendar
					-for(var i = 0; i<1; i++)
						li
							.media(data-target="image")
								img(src="images/imuni.jpg", alt="")
							.info
								p.date 1 de Janeiro
								p.type
									small FERIADO NACIONAL
									span Dia da Mundial da Paz
								a(href="#" class="button_dnw" data-target="dnw") DOWNLOAD
		footer#footer
			.footer_links
				a(href="#") Termos de uso
				a(href="#") Declaração de privacidade
				a(href="#") Política de cookies 
			p.copy © 2018 GlaxoSmithKline Brasil Ltda. Todos os direitos reservados. Estrada dos Bandeirantes 8464 – Rio de Janeiro – RJ CEP: 22783-110. As marcas registradas pertencem ou são licenciadas ao grupo de empresas GSK.
			span.vacina_destaque BR/VAC/0350/17 – FEVEREIRO/2018
	.lightbox#dnw
		.content.download
			a(href="#" class="close"): img(src="images/close.png", alt="")
			h5.head Selecione os arquivos <br> que deseja baixar
			form(class="form_area")
				.form_item.check
					label
						input(type="radio" class="input_check" name="c498")
						span Email Marketing
				.form_item.check
					label
						input(type="radio" class="input_check" name="c498")
						span Post Redes Sociais
				.form_action
					button(class="button_dnw") DOWNLOAD
	.lightbox#image
		.content.image
			a(href="#" class="close"): img(src="images/close.png", alt="")
			.media
				img(src="images/img_g.png", alt="")