extends templates/tpl.pug
block var
	- var title = "Home";
	- var bodyClass = "config";
block content
	.content
		header(id="header")
			.logo
			nav
				a(href="#" class="menu_handle")
					div.separator
				ul
					li
						a(href="#" class="item month") Classificar por mês
					li
						a(href="#" class="item day") Classificar por Dia
					li
						a(href="calendario.html" class="item calendario ") Calendário
					li
						a(href="downloads.html" class="item dwn") Histórico de Downloads
					li
						a(href="configuracoes.html" class="item conf active") Configurações
					li
						a(href="/" class="item logout") Logout
		.wrapper_calendar
			.register_area
				.info_head
					.media
						img(src="images/saude_dia_c.png", alt="")
					h2.title-1 CONFIGURAÇÕES
					h3.title-2 INFORMAÇÕES DE CADASTRO
				form(novalidate).form_area
					.wrap
						.form_group.two
							.form_item
								label
									span NOME completo
										span *
									input(type="text" class="input_text" required)
							.form_item
								label
									span Email
										span *
									input(type="email" class="input_text" required)
						.form_group.two
							.form_item
								label
									span Nome da Clinica
										span *
									input(type="text" class="input_text" required)
							.form_item
								label
									span ENDEREÇO DA CLÍNICA 
										span *
									input(type="text" class="input_text" required)
						.form_group.two_select
							.form_item
								.select_style
									label
										span uf
										select(name="")
											option(hidden selected)
											option(value="1") RJ
											option(value="2") SP
											option(value="3") MG
								.select_style
									label
										span CIDADE
											span *
										select(name="" required)
											option(hidden selected)
											option(value="1") Rio de Janeiro
											option(value="2") São Paulo
											option(value="3") Minas Gerais

									
							.form_item.check
								span É PROFISSIONAL DE SAÚDE?
								.wrap_check
									label
										input(type="radio" class="input_check" name="radio")
										span Sim
									label
										input(type="radio" class="input_check" name="radio")
										span Não
						.form_group.four
							.form_item
								.select_style
									label
										span PROFISSIONÃO
										select(name="")
											option(hidden selected)
											option(value="1") Médico
											option(value="1") Médico
											option(value="1") Médico
											option(value="1") Médico
								.form_item
									label
										span CRM, CRF ou COREM 
										input(type="text" class="input_text")
							.form_item
								label
									span SENHA
										span *
									input(type="text" class="input_text" required)
								label
									span CONFIRMAR SENHA
										span *
									input(type="email" class="input_text" required)
						.form_help
							.form_action
								button(class="button_primary" type="submit") ME CADASTRAR!
		footer#footer
			.footer_links
				a(href="#") Termos de uso
				a(href="#") Declaração de privacidade
				a(href="#") Política de cookies 
			p.copy © 2019 GlaxoSmithKline Brasil Ltda. Todos os direitos reservados. Estrada dos Bandeirantes 8464 – Rio de Janeiro – RJ CEP: 22783-110. As marcas registradas pertencem ou são licenciadas ao grupo de empresas GSK.
			span.vacina_destaque BR/VAC/0350/17 – FEVEREIRO/2019