extends templates/tpl.pug
block var
	- var title = "Home";
	- var bodyClass = "donwloads";
block content
	.content
		header(id="header")
			.logo
			nav
				a(href="#" class="menu_handle")
					div.separator
				ul
					li
						a(href="#" class="item month") Classificar por mês
					li
						a(href="#" class="item day") Classificar por Dia
					li
						a(href="#" class="item dwn") Histórico de Downloads
					li
						a(href="#" class="item conf") Configurações
					li
						a(href="#" class="item logout") Logout
		.wrapper_calendar
			.info_head
				.media
					img(src="images/saude_dia_c.png", alt="")
				h2.title-1 HISTÓRICO DE DOWNLOADS
				form(novalidate).form_area
					button(class="toggle_action") TODOS
					.form_item
						.select_style
							label
								select(name="")
									option(selected) TODOS
									option(value="1") JANEIRO
									option(value="2") JANEIRO
									option(value="3") JANEIRO
			ul.list-dwn
				li
					.media
						img(src="images/img_grid.png", alt="")
					a(href="#" class="dwn") BAIXAR NOVAMENTE
		footer#footer
			.footer_links
				a(href="#") Termos de uso
				a(href="#") Declaração de privacidade
				a(href="#") Política de cookies 
			p.copy © 2018 GlaxoSmithKline Brasil Ltda. Todos os direitos reservados. Estrada dos Bandeirantes 8464 – Rio de Janeiro – RJ CEP: 22783-110. As marcas registradas pertencem ou são licenciadas ao grupo de empresas GSK.
			span.vacina_destaque BR/VAC/0350/17 – FEVEREIRO/2018