extends templates/tpl.pug
block var
	- var title = "Home";
	- var bodyClass = "login";
block content
	.wrapper_full
		a(href="#" class="logo")
		.info_area
			img(src="images/saude_dia.png")
			.text_area
				p Aqui no 
					strong Calendário Digital Saúde em Dia GSK
					|, você fica por dentro das principais 
					strong datas comemorativas 
					| do ano e tem acesso a
					strong conteúdos exclusivos  
					| para promover a educação e a conscientização em Saúde na sua comunidade local.
				br
				p
					strong Participe conosco!
				span.vacina_destaque BR/VAC/0350/17 – FEVEREIRO/2019
			.mobile_buttons
				a(href="#" class="button_primary login_handle") Login
				a(href="/cadastro.html" class="button_secondary") QUERO ME CADASTRAR
		.login_area
			form.form_area(novalidate)
				.wrap
					h3.title Login
					.form_item
						label
							span NOME DE USUÁRIO
							input(type="text" class="input_text" required)
					.form_item
						label
							span SENHA
							input(type="password" class="input_text" required)
							.error-login
								p Nome de usuário ou senha incorretos
					.form_help
						.form_item.check
							label
								input(type="checkbox" class="input_check")
								span.keep Manter-me logado
						a(href="#" class="link" data-target="login") Esqueci minha senha
						a(href="/cadastro.html" class="link-2") Quero me cadastrar

						.form_action
							button(class="button_primary logar" type="button") LOGIN
				.wrap
					h3.title NOVO USUÁRIO?
					p.paragraph Faça seu cadastro em instantes e tenha acesso ao Calendário Digital Saúde em Dia GSK.
					a(href="/cadastro.html" class="button_primary") QUERO ME CADASTRAR
			footer#footer
				.footer_links
					a(href="#") Termos de uso
					a(href="#") Declaração de privacidade
					a(href="#") Política de cookies
				p.copy © 2019 GlaxoSmithKline Brasil Ltda. Todos os direitos reservados. Estrada dos Bandeirantes 8464 – Rio de Janeiro – RJ
					br
					| CEP: 22783-110. As marcas registradas pertencem ou são licenciadas ao grupo de empresas GSK.
				span.vacina_destaque BR/VAC/0350/17 – FEVEREIRO/2019
	.lightbox#login
		.content.login
			a(href="#" class="close"): img(src="images/close.png", alt="")
			form(class="form_area forgot_pass" novalidate)
				h3.title ESQUECI MINHA SENHA
				.form_item
					label
						span DIGITE SEU EMAIL
						input(type="text" class="input_text" required)
				.form_action
					button(class="button_primary") ENVIAR
				.wrap
					h3.title Pronto!
					p Em alguns minutos você receberá um e-mail <br> para redefinir sua senha.