#mCSB_1_container.mCSB_container.mCS_y_hidden.mCS_no_scrollbar_y(style='position:relative; top:0; left:0;', dir='ltr')
    .cld-main
        .cld-datetime
        .cld-rwd.cld-nav
        .cld-fwd.cld-nav
        ul.cld-labels
            li.cld-label Dom
            li.cld-label Seg
            li.cld-label Ter
            li.cld-label Qua
            li.cld-label Qui
            li.cld-label Sex
            li.cld-label Sab
        -var n = 0
        ul.cld-days#cld-days
            //- while n < 42
            //-     li.cld-day.currMonth(data-id =n++)
            //-         p.cld-number
            //-             span 28