#footer {
    max-width: 750px;
    margin: 0 auto 20px;
    padding: 0 15px;
    font-size: 12px;
    line-height: 14px;
    color: #808691;
    text-align: center;
    @include break-max(1366px) {
        br {
            display: none;
        }
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        /* IE10+ CSS styles go here */
        margin: 0 auto 30px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
   }
    .vacina_destaque{
        position: static;
        font-size: 11px;
        margin-top: 20px;
        display: none;
        @include break-max(768px) {
            display: block;
        }
    }
    @include break-max(768px) {
        background: #F0F4F7;
        margin-bottom: 0;
        padding: 40px 20px;
    }
    .copy{
        font-size: 10px;
        color: rgba(154, 154, 154, 0.75);
    }
    .footer_links{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-bottom: 15px;
        @include break-max(768px) {
            flex-direction: column;
        }
        a {
            font-size: 10px;
            font-weight: 500;
            color: rgba(154, 154, 154, 0.75);
            margin-left: 25px;
            @include break-max(768px) {
                margin-left: 0;
                margin-top: 25px;
            }
            &:first-child{margin-left: 0; margin-top: 0;}
            &:hover {
                text-decoration: underline;
            }
        }
    }
}