.form_area {
    .hint {
        font-size: 15px;
        color: $color2;
        font-weight: 300;
        letter-spacing: 0.5px;
        font-size: 15px;
        display: flex;
        align-items: center;
        margin-top: -10px;
        margin-bottom: 30px;
        span {
            color: $color1;
            margin-right: 5px;
        }
    }
    .link {
        color: $color1;
        font-size: 14px;
        @include break-max(1366px) {
            font-size: 13px;
        }
    }
    .link-2 {
        color: $color3;
        font-size: 14px;
    }
    .form_help {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .form_action {
        width: 100%;
    }
    .select_style {
        position: relative;
        margin-bottom: 25px;
        @include break-max(1366px) {
            margin-bottom: 15px;
        }
        .selected{
            position: absolute;
            top: 27px;
            left: 0;
            width: 100%;
            height: 50px;
            background: url('../images/arrow_select.png') no-repeat  90% center ;
            color: $color2;
            font-size: 14px;
            padding: 16px 25px 16px 10px;
            border: 1px solid #B8C0D0;
            text-transform: uppercase;
            @include break-max(1366px) {
                padding: 10px 25px 10px 10px;
                height: 38px;
            }
        }
        ul {
            position: absolute;
            top: 100%;
            width: 100%;
            z-index: 2;
            display: none;
            max-height: 250px;
            overflow-y: auto;
            &.active {
                display: block;
            }
            li {
                color: $color2;
                font-size: 14px;
                padding: 16px 25px 16px 10px;
                border-left: 1px solid #B8C0D0;
                border-right: 1px solid #B8C0D0;
                border-bottom: 1px solid #B8C0D0;
                background: white;
                text-transform: uppercase;
                cursor: pointer;
                @include break-max(1366px) {
                    padding: 10px 25px 10px 10px;
                }
                &:first-child{
                    display: none;
                }
            }
        }
        span {
            color: $color2;
            display: block;
            margin-bottom: 10px;
            font-weight: 500;
            display: flex;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: 0.5px;
            font-size: 15px;
            @include break-max(1366px) {
                font-size: 13px;
                margin-bottom: 5px;
            }
            span {
                color:  $color1;
                margin-left: 5px;
                margin-bottom: 0;
            }
        }
        
        label {
            width: 100% !important;
        }
        select {
            width: 100%;
            height: 50px;
            background: url('../images/arrow_select.png') no-repeat  85% center ;
            color: $color2;
            font-size: 14px;
            padding: 16px 25px 16px 10px;
            appearance: none;
            outline: none;
            border-radius: 3px;
            border: 1px solid #B8C0D0;
            visibility: hidden;
            text-transform: uppercase;
            @include break-max(1366px) {
                padding: 10px 25px 10px 10px;
                height: 38px;
            }
            &::-ms-expand {
                display: none;
            }
        }
    }
    .form_group {
        display: flex;
        flex-wrap: wrap;
        .wrap_check {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
            margin-bottom: 25px;
            @include break-max(1366px) {
                height: 38px;
            }
        }
        .form_item {
            &.check {
                display: flex;
                flex-direction: column;
                text-transform: lowercase;
                > span {
                    color: $color2;
                    display: block;
                    margin-bottom: 10px;
                    font-weight: 500;
                    display: flex;
                    text-transform: uppercase;
                    font-weight: 300;
                    letter-spacing: 0.5px;
                    font-size: 15px;
                    span {
                        color:  $color1;
                        margin-left: 5px;
                        margin-bottom: 0;
                    }
                }
                label  span{
                    align-items: center;
                    padding-left: 40px;
                    margin-right: 25px;
                    &:before {
                        width: 32px;
                        height: 32px;
                        margin-top: -16px;
                    }
                    &:after {
                        width: 26px;
                        height: 26px;
                        top: 0;
                    }
                }
            }
        }
        &.two {
            justify-content: space-between;
            .form_item {
                width: 48%;
                @include break-max(768px) {
                    width: 100%;
                }
            }
            .select_style {
                width: 48%;
                @include break-max(768px) {
                    width: 100%;
                    margin-bottom: 20px;;
                }
                select {
                    background-position: 94% center;
                }
            }
        }
        &.four {
            justify-content: space-between;
            .form_item {
                width: 48%;
                justify-content: space-between;
                .form_item {
                    width: 48%;
                    label {
                        width: 100%;
                    }
                }
                label {
                    width: 48%;
                }             
                @include break-max(768px) {
                    width: 100%;
                }
            }
            .select_style {
                width: 48%;
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                > label {
                    width: 48% !important;
                }
                @include break-max(768px) {
                    width: 100%;
                    margin-bottom: 20px;;
                }
                select {
                    background-position: 94% center;
                }
            }
        }
        &.two_select {
            justify-content: space-between;
            .select_style {
                width: 25%;
                + .select_style {
                    width: 71%;
                    margin-left: 4%;
                    select {
                        background-position: 92% center;
                    }
                }
            }
            .form_item {
                width: 48%;
                @include break-max(768px) {
                    width: 100%;
                }
            }
        }
    }
    .form_item {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        input {
            &.invalid{
                border-color: #F55A08;
                background: url('../images/invalid.png') no-repeat 95% center;
            }
            &.valid{
                border-color: #67CE00;
                background: url('../images/valid.png') no-repeat 95% center;
            }
        }
        .input_text {
            border: 1px solid #B8C0D0;
            font-family: 'Montserrat';
            color: #3a3a3a;
            padding: 16px 10px;
            outline: none;
            margin-bottom: 25px;
            width: 100%;
            font-size: 14px;
            border-radius: 3px;
            @include break-max(1366px) {
                padding:  10px;
                margin-bottom: 15px;
            }
            &:required {
                padding: 16px 50px 16px 10px;
                @include break-max(1366px) {
                    padding: 10px 50px 10px 10px;
                }
            }
        }
        
        label {
            display: flex;
            flex-direction: column;
            width: 100%;
            span {
                color: $color2;
                display: block;
                margin-bottom: 10px;
                font-weight: 500;
                display: flex;
                text-transform: uppercase;
                font-weight: 300;
                letter-spacing: 0.5px;
                font-size: 15px;
                @include break-max(1366px) {
                    font-size: 13px;
                    margin-bottom: 5px;
                }
                span {
                    color:  $color1;
                    margin-left: 5px;
                    margin-bottom: 0;
                }
                &.keep{
                    text-transform: inherit;
                }
            }
        }
        &.check {
            label {
                flex-direction: row;
                span {
                    font-size: 14px;
                    display: flex;
                    position: relative;
                    padding-left: 25px;
                    margin-bottom: 0;
                    @include break-max(1366px) {
                        font-size: 13px;
                    }
                    &:before {
                        content: '';
                        width: 15px;
                        height: 15px;
                        border: 1px solid #B8C0D0;
                        margin-right: 10px;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        margin-top: -7.5px;
                    }
                    &:after {
                        content: '';
                        width: 9px;
                        height: 9px;
                        background: $color1;
                        position: absolute;
                        left: 3px;
                        top: 50%;
                        opacity: 0;
                        margin-top: -4.5px;;
                    }
                }
            }
            .input_check {
                display: none;
                &:checked {
                    + span {
                        &:after {
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
}