.calendar {
    background: linear-gradient(to bottom, #c2d7e8 0%, #f6f6f6 0%, #c2d7e8 100%);
    @include break-max(1024px){
        background: transparent;
    }
    #footer {
        .vacina_destaque {
            display: block;
            margin:  10px auto 0;
            
        }
        .footer_links{
            a{
                color: #808691;
            }
        } 
        .copy{
            color: #808691;
        }
    }
    .labels_info {
        display: flex;
        justify-content: center;
        font-size: 14px;
        color: #5A5F6C;
        font-weight: lighter;
        margin-top: 85px;
        width: 100%;
        margin-bottom: 35px;
        display: flex;
        @include break-max(1024px) {
            display: none;
        }
        &.mobile{
            display: none;
            @include break-max(1024px) {
                display: flex;
                margin: 20px 0;
            }
        }
        @include break-max(1024px) {
            flex-direction: column;
        }
        div {
            margin-right: 20px;
        }
        .star {
            display: flex;
            align-items: center;
            &:before {
                content: '';
                background: url('../images/star.png') no-repeat center;
                width: 20px;
                height: 20px;
                background-size: cover;
                margin: 10px;
            }
        }
        .date_important {
            display: flex;
            align-items: center;
            &:before {
                content: '';
                background: #2390ED;
                width: 16px;
                height: 16px;
                margin: 10px;
                border-radius: 50%;
            }
        }
        .holiday {
            display: flex;
            align-items: center;
            &:before {
                content: '';
                background: #67CE00;
                width: 16px;
                height: 16px;
                margin: 10px;
                border-radius: 50%;
            }
        }
    }
    .wrapper_calendar{
        display: flex;
        background: white;
        min-height: 850px;
        margin-bottom: 15px;
        box-shadow: 0 0px 20px rgba(#2E3446, 0.11);
        border-radius: 10px;
        @include break-max(1024px) {
            flex-direction: column;
            box-shadow: none;
            margin-top: 0;
        }
    }
    .days_marked{
        background: #007DD9;
        margin-left: auto;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        padding-top: 5%;
        padding-left: 35px;
        padding-right: 35px;
        &.type2 {
            .side_bar_holidays {
                @include break-max(768px) {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                }
                li {
                    flex-wrap: wrap;
                    padding-top: 0;
                    margin-bottom: 60px;
                    max-width: 372px;
                    @include break-max(768px) {
                        margin-bottom: 30px;
                    }
                    .button_dnw{
                        padding: 15px;
                        margin-bottom: 20px;
                    }
                    .date{
                        font-size: 26px;
                        text-transform: inherit;
                        margin-bottom: 0;
                        @include break-max(768px) {
                            font-size: 18px;
                        }
                    }
                    .type {
                        small {
                            font-size: 12px;
                            display: block;
                            margin-bottom: 20px;
                            letter-spacing: 1px;
                            @include break-max(768px) {
                                font-size: 10px;
                            }
                        }
                        span {
                            display: block;
                            border-top: 1px solid rgba(white, 0.2);
                            padding-top: 20px;
                            font-size: 16px;
                            font-weight: normal;
                            letter-spacing: 1px;
                            margin-bottom: 20px;
                            @include break-max(768px) {
                                font-size: 14px;
                            }
                        }
                    }
                    .info {
                        width: 100%;
                        margin-top: 20px;
                    }
                    .media {
                        max-width: 100%;
                        margin-right: 0;
                        box-shadow: 0 0px 20px rgba(46,52,70,0.4);
                    }
                }
            }
        }
        @include break-max(1024px) {
            width: 100%;
            border-radius: 0;
            padding: 5% 20px 0;
        }
        .button_dnw{
            background: #67CE00;
            text-align: center;
            color: white;
            padding: 8px 30px;
            border-radius: 20px;
            margin-top: 10px;
            font-size: 12px;
            font-weight: 500;
            letter-spacing: 0.5px;
            display: flex;
            align-items: center;
            justify-content: center;
            box-shadow: 0 0px 20px rgba(46,52,70,0.20);
            @include break-max(1024px){
                font-size: 12px;
            }
            &:before {
                content: '';
                width: 16px;
                height: 16px;
                background: url('../images/dnw_w.png') no-repeat center;
                margin-right: 10px;
            }
        }
        .media {
            max-width: 230px;
            border-radius: 5px;
            border: 4px solid white;
            margin-right: 25px;
            box-shadow: 0 0px 20px rgba(46,52,70,0.11);
            position: relative;
            img {
                display: block;
            }
        }
        .side_bar_holidays {
            // padding-right: 35px;
            height: 600px;
            overflow-x:hidden;
            overflow-y:hidden;
            scrollbar-color: #FFFFFF #007DD9;
            @include break-max(1024px){
                height: inherit;
                padding-right: 0;
            }
            &.filtred {
                li {
                    display: none;
                    &.star {
                        display: flex;
                    }
                }
            }
            .mCSB_scrollTools, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight, .mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
                opacity: 1;
            }
            .mCSB_scrollTools .mCSB_draggerRail{
                background: #77BDF8;
            }
            .mCSB_dragger_bar {
                background: white;
                width: 8px;
                opacity: 1;
            }
            .mCS-dark-3.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
                background: white;
            }
            .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
                background: white;
            }
            .date{
                font-size: 16px;
                letter-spacing: 0.5px;
                color: white;
                text-transform: uppercase;
                margin-bottom: 10px;
                font-weight: 500;
                @include break-max(640px){
                    font-size: 14px;
                }
            }
            .type {
                line-height: 18px;
                small {
                    color: #A1D0F7;
                    font-size: 12px;
                    display: block;
                    font-weight: lighter;
                }
                span {
                    display: block;
                    color: #F0F4F7;
                    font-size: 14px;
                    font-weight: 500;
                    @include break-max(640px){
                        font-size: 14px;
                    }
                }
            }
            li {
                display: flex;
                align-items: end;
                padding: 25px 0;
                border-bottom: 1px solid rgba(white, 0.2);
                &:last-child {
                    border-bottom: 0;
                }
                .media {
                    &:after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        border-top: 30px solid transparent;
                        border-right: 30px solid transparent;
                    }
                }
                &.star  {
                    .media {
                        &:after {
                            border-top-color: #FFCE00;
                        }
                    }
                }
                &.holiday  {
                    .media {
                        &:after {
                            border-top-color:#67CE00;
                        }
                    }
                }
                &.important  {
                    .media {
                        &:after {
                            border-top-color:#2390ED;
                        }
                    }
                }
            }
        }
        .nav_dates {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 40px;
            margin-top: 10%;
            margin-bottom: 5%;
            @include break-max(1024px){
                padding-right: 0;
                margin-top: 5%;
            }
            a {
                color: rgba(white, 0.7);
                font-size: 16px;
                display: flex;
                align-items: center;
                font-weight: 500;
                &.active {
                    color: white;
                }
                &.dates_mark {
                    &::before {
                        content: '';
                        width: 20px;
                        height: 20px;
                        background: url('../images/star.png') center;
                        background-size: cover;
                        margin-right: 5px;
                        margin-top: -2px;
                    }
                }
            }
        }
        h3 {
            font-size: 22px;
            color: white;
            font-weight: normal;
            max-width: 390px;
            border-bottom: 1px solid rgba(white, 0.2);
            padding-bottom: 20px;
            margin-bottom: 40px;;
            @include break-max(1024px){
                margin-right: 0;
                font-size: 16px;
                text-align: center;
                padding-right: 0;
            }
        }
    }
    .content {
        max-width: 1440px;
        margin: 0 auto;
        @include break-max(1440px) {
            padding: 0 10px;
        }
        @include break-max(1024px) {
            padding: 0;
        }
    }
    #caleandar {
        position: relative;
        height: 370px;
        overflow: hidden;
        @include break-max(1024px) {
            height: inherit;
            margin-bottom: 40px;
            display: flex;
            flex-direction: column;
            .labels_info{
                order: 3;
            }
            &.list_days{
                .cld-datetime.mobile{
                    display: flex;
                }
            }
            .cld-datetime {
                order: 2;
                &.mobile {
                    display: none;
                }
            }
            .cld-main{
                order: 1;
            }
        }
        .mCustomScrollBox{
            overflow: initial;
        }
        .mCSB_scrollTools, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight, .mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
            opacity: 1;
        }
        .mCSB_scrollTools .mCSB_draggerRail{
            background: #DEE7EF;
        }
        .mCSB_dragger_bar {
            background: $color1;
            width: 8px;
            opacity: 1;
        }
        .eventday{
            span {
                color: white;
            }
        }
        .important {
            + .eventday {
                position: relative;
                span {
                    position: relative;
                    z-index: 2;
                }
                &:after {
                    content: '';
                    position: absolute;
                    height: 45px;
                    width: 45px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: #2390ED;
                    box-shadow: 0 0px 20px rgba(46,52,70,0.15);
                    border-radius: 50%;
                    z-index: 0;
                    @include break-max(1024px){
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
        .holiday {
            + .eventday {
                position: relative;
                span {
                    position: relative;
                    z-index: 2;
                }
                &:after {
                    content: '';
                    position: absolute;
                    height: 45px;
                    width: 45px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: #67CE00;
                    box-shadow: 0 0px 20px rgba(46,52,70,0.15);
                    border-radius: 50%;
                    z-index: 0;
                    @include break-max(1024px){
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
        .star {
            + .eventday {
                position: relative;
                span {
                    position: relative;
                    z-index: 2;
                }
                &:after {
                    content: '';
                    position: absolute;
                    height: 60px;
                    width: 60px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background: url(../images/star.png) no-repeat center;
                    background-size: cover;
                    border-radius: 50%;
                    box-shadow: none !important;
                    z-index: 0;
                    @include break-max(1024px){
                        width: 30px;
                        height: 30px;
                    }
                }
            }
        }
        &.list_days {
            width: 100%;
            margin-top: -35px;
            .eventday {
                &:after {
                    content: none;
                }
            }
            .cld-nav{
                display: none;
                @include break-max(1024px) {
                    display: block;
                }
            }
            .cld-main{
                max-width: 100%;
            }
            .cld-number{
                padding: 0;
                margin-bottom: 0;
            }
            .cld-labels{
                display: none;
            }
            .cld-day {
                display: flex;
                align-items: center;
                width: 100%;
                a {
                    pointer-events: none;
                }
                p{
                    width: 100%;
                    display: flex;
                    align-items: center;
                }
            }
            .cld-title {
                display: block;
                position: static;
                display: flex;
                align-items: center;
                padding: 0;
                border: 0;
                background: transparent;
                font-size: 22px;
                color: #808691;
                width: 77%;
                @include break-max(640px){
                    width: 40%;
                    &:after {
                        content: none !important;
                    }
                }
                a {
                    color: #808691;
                }
                &.important {
                    &:before {
                        border-radius: 50%;
                        background: #2390ED;
                    }
                    &:after {
                        content: 'Data Importante';
                        font-size: 12px;
                        margin-left: auto;
                        color: #2390ED;
                    }
                }
                &.holiday {
                    &:before {
                        border-radius: 50%;
                        background: #67CE00;
                    }
                    &:after {
                        content: 'Feriado Nacional';
                        font-size: 12px;
                        margin-left: auto;
                        color: #67CE00;;
                    }
                }
                &.star {
                    &:before {
                        background: url("../images/star.png") no-repeat center;
                        background-size: cover;
                    }
                    &:after {
                        content: 'Notificação Habilitada';
                        font-size: 12px;
                        margin-left: auto;
                        color: #FDCD28;;
                    }
                }
                &:before {
                    content: '';
                    background: black;
                    width: 20px;
                    height: 20px;
                    display: inline-block;
                    position: static;
                    border: 0;
                    margin-right: 20px;
                }
            }
            .cld-days{
                display: flex;
                flex-direction: column;
                
                .cld-day{
                    display: flex;
                    align-items: center;
                    padding: 15px;
                    border-bottom: 1px solid rgba(0,0,0,0.16);
                    &.prevMonth{
                        opacity: 1;
                        .cld-number{
                            
                            span {
                                color: #DEE7EF;
                            }
                        }    
                    }
                    .cld-number{
                        order: -1;
                        width: 40px;
                        justify-content: center;
                        font-size: 22px;
                        color: #9A9A9A;
                        font-weight: bold;
                        margin-right: 40px;
                        span {
                            color: #9A9A9A;
                        }
                    }
                    .cld-title{
                        order: 3;
                    }
                    &:before {
                        text-transform: uppercase;
                        color: #5A5F6C;
                        font-size: 16px;
                        font-weight: bold;
                        order: 2;
                        margin-right: 35px;
                        width: 50px;
                    }
                    &:nth-child(1) {
                        &:before{
                            content: 'dom';
                        }
                    }
                    &:nth-child(2) {
                        &:before{
                            content: 'Seg';
                        }
                    }
                    &:nth-child(2) {
                        &:before{
                            content: 'Seg';
                        }
                    }
                    &:nth-child(3) {
                        &:before{
                            content: 'Ter';
                        }
                    }
                    &:nth-child(4) {
                        &:before{
                            content: 'Qua';
                        }
                    }
                    &:nth-child(5) {
                        &:before{
                            content: 'Qui';
                        }
                    }
                    &:nth-child(6) {
                        &:before{
                            content: 'Sex';
                        }
                    }
                    &:nth-child(7) {
                        &:before{
                            content: 'Sab';
                        }
                    }
                    &:nth-child(7n+1) {
                        &:before{
                            content: 'dom';
                        }
                    }
                    &:nth-child(7n+2) {
                        &:before{
                            content: 'Seg';
                        }
                    }
                    &:nth-child(7n+2) {
                        &:before{
                            content: 'Seg';
                        }
                    }
                    &:nth-child(7n+3) {
                        &:before{
                            content: 'Ter';
                        }
                    }
                    &:nth-child(7n+4) {
                        &:before{
                            content: 'Qua';
                        }
                    }
                    &:nth-child(7n+5) {
                        &:before{
                            content: 'Qui';
                        }
                    }
                    &:nth-child(7n+6) {
                        &:before{
                            content: 'Sex';
                        }
                    }
                    &:nth-child(7n+7) {
                        &:before{
                            content: 'Sab';
                        }
                    }
                }
                
            }
        }
    }
    .item_calendar {
        width: 65%;
        margin-top: 25px;
        position: relative;
        @include break-max(1024px) {
            width: 100%;
        }
        .wrap {
            width: 80%;
            margin: 0 auto;
            @include break-max(1024px) {
                width: 100%;
            }
        }
    }
    .calendar_handle {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid rgba(#000000, 0.16);
        padding-bottom: 18px;
        // margin-bottom: 40px;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            /* IE10+ CSS styles go here */ 
            display: flex;
            justify-content: flex-start;
        }
        @include break-max(640px){
            margin-bottom: 0;
            padding-bottom: 0;
        }
        @include break-max(1024px){
            border-bottom: 0;
        }
        .nav {
            text-transform: uppercase;
            color: #B8C0D0;
            @include break-max(1024px){
                display: none;
            }
            a{
                &.day {
                    margin-right: 20px;
                }
                &.active {
                    font-weight: bold;
                    color: $color1;
                }
            }
        }
        h2 {
            margin-right: auto;
            @include break-max(1024px){
                display: none;
            }
            strong {
                text-transform: uppercase;
                color: $color1;
                margin-right: 15px;
            }
            span {
                color: #B8C0D0;
                font-weight: 400;
            }
        }
        .media {
            width: 100%;
            margin-bottom: 20px;
            @include break-max(1024px){
                width: 70%;
                margin-top: -30px;
            }
            img {
                margin: 0 auto;
                display: block;
                max-width: 170px;
                @include break-max(1024px){
                    margin: 40px auto 45px;
                    max-width: 60%;
                }
            }
        }
    }
    #header {
        display: flex;
        align-items: center;
        margin: 15px 0;
        position: relative;
        .menu_handle {
            height: 22px;
            position: absolute;
            left: 0; 
            top: 0;
            width: 25px;
            display: flex;
            flex-direction: column;
            display: none;
            margin-left: 20px;
            z-index: 10;
            &.active {
                &:after, &:before, .separator {
                    background: white;
                }
            }
            @include break-max(1024px){
                display: flex;
            }
            &:after, &:before {
                content: '' !important;
                width: 100%;
                height: 4px;
                background: #B8C0D0;
                border-radius: 10px;
                left: 0;
                position: absolute;
                transition: all 0.3s;
            }
            &:before {
                top: 0;
            }
            &:after {
                bottom: 0
            }
            .separator {
                width: 100%;
                height: 4px;
                background: #B8C0D0;
                transition: all 0.3s;
                border-radius: 10px;
                position: absolute;
                top: 50%;
                margin-top: -1.75px;
                left: 0;
            }
        }
        .logo {
            background: url(../images/logo_c.png) no-repeat center;
            width: 90px;
            height: 40px;
            background-size: contain;
            @include break-max(1024px){ 
                display: none;
            }
        }
    }
}